<!-- index.html -->

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="style.css">
    <title>Object Detection with Ensemble Model</title>
</head>
<body>
    <center>
        <h1>Object Detection with Ensemble Model</h1>
        <span>"Powerful Precision: Unleash Object Detection Excellence"</span>
        <br>
        <img src="output_image.png">
        <br>
        <span>Precision Meets Detection</span><br>
        <p> Unlock the Future of Object Detection with our cutting-edge ensemble model, seamlessly fusing YOLO tight bounding boxes and Faster R-CNN for object detection. Experience a fusion of power and precision, delivering flawless object detection results in images. Say goodbye to trade-offs; we bring you both accuracy and precision in a single model! </p>

        <form action="/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file">
            <br>
            <input type="submit" value="Upload">
        </form>
    </center>
</body>
</html>
